@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


* {
    box-sizing: border-box;
    /* border-style: solid; */
}


body {
    font-family: 'Dancing Script', sans-serif;
    background-color: rgb(72, 72, 241);
    color: white;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    top: 0;
    align-items: center;
    justify-content: top;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container .heading {
    margin: 0;
    margin-top: 5px;
}

.container .goal {
    margin-top: 0;
}

.glass {
    background-color: white;
    color: blue;
    width: 30%;
    height: 70%;
    margin: 0;
}

.glass h1,h2 {
    margin: 0;
}

.empty{
    height: 12.5%;
    font-size: 10px;
}


.fill{
    height: 87.5%;
    background-color: blue;
    color: darkblue;
}

.glass .empty,.fill{
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cups {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 50%;
    height: 60%;
    bottom: 5px;
}

.cup {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: blue;
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
}

.pill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 3.5);
    border-radius: 30px;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
}

.pill.active {
    color: white;
    border-color: blue;
    background-color: blue;
}